<% content_for :otherscripts do %>
<script type="text/javascript" src="http://www.linkpatch.com/monitor/86c7967e407a6f70ecfa4973f2a65761b29b9d5c/"></script>
<% end %>


<% content_for :nav do %>
	<div id="nav">
	 	<ul id="iconmenu">
			<li id="home"><a href="/">&nbsp;</a></li>
			<li id="about"><a href="/about">&nbsp;</a></li>
			<li id="portfolio"><a href="/portfolio">&nbsp;</a></li>
			<li id="gallery"><a href="/gallery">&nbsp;</a></li>
		</ul>
	</div>
<% end %>


<h1>Error 404</h1>
<p>The page you requested does not exist!</p>
<p>&nbsp;</p>


<% content_for :footer do %>
<p>
<a href="http://validator.w3.org/check?verbose=1&amp;uri=http%3A%2F%2Findrode.com%2F">XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/validator?profile=css2&amp;uri=http%3A%2F%2Findrode.com%2Fabout%2F">CSS</a> | <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Legal Code</a> | <a href="http://www.dreamhost.com/green.cgi?indrode.com">Green Hosting</a> | <a href="http://www.ruby-lang.org/en/">Ruby <%= RUBY_VERSION %></a><br />
		<small><a href="http://indrode.com/">Home</a> | <a href="http://indrode.com/about">About</a> | <a href="http://indrode.com/portfolio">Portfolio</a> | <a href="http://indrode.com/gallery">Gallery</a></small>
		</p>
<% end %>