/* (zen punch) */
/* needs some cleaning up */


* {
	margin:0;
	padding:0;
}

body {
	background-color:#181818;	
	font:10px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	background-image: url(/images/stripes.gif);
}


#container {
	margin:30px auto 0 auto;
	width:986px;
}

#container_main {
	background-image: url(/images/bg_main.jpg);
	background-repeat:repeat-y;
	width:986px;
}

#containertop {
	margin:0 auto;
	width:1000px;
}

#containertop p {
	color:#777;
	padding:10px 10px;
	font-size:1.0em;
}

#header_list {
	float:left;
	height:194px;
	width:986px;
	background-image: url(/images/header_list.jpg);
	background-repeat:no-repeat;
}

#header_main {
	float:left;
	height:194px;
	width:986px;
	background-image: url(/images/header_main.jpg);
	background-repeat:no-repeat;
}

#logo_link {
	width:400px;
	padding-right:37px;
	padding-top:5px;
	margin-top:-170px;
	margin-right:255px;
	float:right;
	text-align:right;
}

#left {
	width:123px;
	float:left;
	height:350px;
}

#mid {
	width:491px;
	_margin-top:-2px;
	float:left;
}

#mid_main {
	width:780px;
	_margin-top:-2px;
	float:left;	
	padding:15px 25px 0 25px;
}


#right {
	width:362px;
	_margin-top:-2px;
	float:left;
}

#right_blog, #right_about, #right_portfolio, #right_contact, #right_other {
	padding-top:19px;
}

#main {
	clear:both;
}


#maincontent {
	margin-top:40px;
	padding-top:10px;
	background-image: url(/images/bg_mid.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	min-height:230px;
}

#mid p {	
	margin:0;
	padding:0 22px 6px 28px;
	text-align:left;
	margin-bottom:10px;
	color:#ddd;	
	font-size: 1.1em;
	line-height:1.7em;	
}

#mid_main p {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0;
	padding:0 22px 6px 28px;
	text-align:left;
	margin-bottom:10px;
	color:#ccc;
	color:#eee;
	xfont-size: 1.4em;
	xfont-weight:200;
	line-height:1.6em;
	/* test: */
	xfont-weight: bold;
	font-size:1.5em;
	line-height:1.7em;
	color:#cfcfcf;
	color:#fff;
	font-weight:150;
	/* end test */
}

#mid_main p span {
	color:#666;
	font-size:0.8em;
	font-family:"Georgia", serif;
}

#postlist p, #right p {
	margin:0;
	padding:0 40px 6px 20px;
	font-size:1.1em;
	text-align:left;
	line-height:1.7em;
	margin-bottom:5px;
	color:#bbb;	
}


p.tumblepic {
	padding-bottom:0;
	margin-bottom:0;
}

.commentinfo {
	color:#bbb;
	font-size:0.9em;
	margin:0 22px 0 28px;
	padding:0 0 0 22px;
	height:1em;
	text-align:left;
	xfont-weight:bold;
	background-image:url(/images/graph.png);
	background-position:left;
	background-repeat:no-repeat;
}

.commentbody {
	margin:0;
}

#mid p.caption {
	background-color:#222;
	margin:0 22px 11px 28px;
	padding:2px 8px;
	color:#aaa;
}

#maincontent p.readmore {
	font-size:1.2em;
	font-style:italic;
	color:#aaa;
	text-align:right;
}

a.readmore {
	background-color:#343434;
	padding:2px;
	font-variant:small-caps;
}



/*
****************************************************************
*****************************************************************
*/
/* links */

a {
	color:#A89987;
	text-decoration:none;
	padding:0 2px;
}

a:hover {
	color:#d9cbbb;
	border-bottom:1px solid #A89987;

}

img {
	border:0;
	margin:0;
}

img.feature {
	margin:0 22px 0 28px;
	border:1px solid #000;
	padding:0;
}

img.icons {
	float:left; 
	padding:8px 10px 3px 3px;
	border:0;
}

img.tumble {
	margin-bottom:0;
	padding-bottom:0;
}

a.clean {
	margin:0;
	padding:0;
	border:0;
}

input, textarea {
	padding:4px;
}

input.search_field {
width:195px; height:16px; background-color:#454545; border:1px solid #282828; color:#c8c8c8; font-size:1.2em; margin-bottom:3px;
}


input.search_field:focus {
	background: #545454;
}

input.search_button {
	background-color:#404040;
	border:1px solid #282828;
	color:#ddd;
	
}

#comment_form {
	margin:0 22px 16px 28px;
}

label.error {
	padding-left:10px;
	font-size:1.1em;
	color:#fff;
	display:inline;
}

#comment_form input, #comment_form textarea {
	color:#fff;
	background-color:#212121;
	font-size:1.1em;
	margin:5px 0 5px 0;
	width:280px;
}

#comment_form textarea {
	font-family:"Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:1.4em;
}

#comment_form input.submitBut {
	width:200px;
}


/*
****************************************************************
*****************************************************************
*/
/* footer */

#footer {
	margin-top:65px;
	padding-top:40px;
	background-image: url(/images/bg_mid.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	text-align:center;
	height:100px;
}

#footer_border {
	clear:both;
	float:none;
	background-image: url(/images/bg_footer.jpg);
	background-repeat:no-repeat;
	height:29px;
	margin:0 auto 50px auto;
	width:986px;
}

#footer p {
	text-align:center;
}


/*
****************************************************************
*****************************************************************
*/
/* pagination styles */


.pagination {
	text-align:center;
	font-size:1.3em;
	color:#888;
	line-height:1.8em;
	padding:0;
	margin:10px 120px 0 128px;
	background-color:#222;
	-moz-border-radius: 10px;  
	-webkit-border-radius: 10px;  
	border-radius: 10px;
}

.pagination a {
	border:0;
	padding:0;
	width:6px;
}

.pagination .current {
	color:#fff;
}


/*
****************************************************************
*****************************************************************
*/
/* other */

acronym {
	color:#d23630;
	border-bottom:1px dotted #d23630;
	text-decoration:none;
}

code {
	margin:5px 0;
	display:block;
	font-family: "Courier New", Courier, monospace;
	font-size:11px;
	color:#666666;
	border-left:4px solid #A89987;
	padding-left:15px;
	line-height:1em;
}

small {
	color:#777;
	font-size:0.8em;
}

var {
	font-style:normal;
	font-variant:small-caps;
	letter-spacing:0.1em;
}


/*
****************************************************************
*****************************************************************
*/

/* heading styles */

h1 {
	color:#fff;
	font-size:2.6em;
	margin:40px 22px 6px 28px;
	padding:0 0 5px 2px;
	text-align:left;
	font-weight:normal;
	clear:both;
	background-image: url(/images/h1.png);
	background-position:bottom;
	background-repeat:repeat-x;
}


h2 {
	color:#bbb;
	font-size:0.9em;
	margin:0 22px 16px 24px;
	padding:0 0 0 22px;
	height:1em;
	text-align:left;
	xfont-weight:bold;
	background-image:url(/images/graph.png);
	background-position:left;
	background-repeat:no-repeat;
}

h1 a {
	text-decoration:none;
	border:0;
	color:#fff;
}

h1.hide, h2.hide {
	height:1px;
	visibility:hidden;
	font-size:0.1em;
	margin:0;
	padding:0;
	border:0;
}

h3 {
	font-variant:small-caps;
	color:#fff;
	font-size:1.4em;
	margin:10px 40px 6px 20px;
	padding:45px 0 5px 2px;
	text-align:left;
	font-weight:normal;
	letter-spacing:0.3em;
	background-image: url(/images/h3.png);
	background-position:bottom;
	background-repeat:repeat-x;	
}

h3.first {
	padding-top:0;
}

h3.date {
	padding-top:10px;
}

h4 {
	font-family:"Anonymous Pro";
	font-size:1.3em;
	margin:30px 22px 10px 28px;
	padding:0 0 8px 2px;
	color:#bbb;
	font-weight:normal;
	background-image: url(/images/h1.png);
	background-position:bottom;
	background-repeat:repeat-x;
}


/*
	move this somewhere else:
*/

#mid_main p.introduction {
	margin:20px 22px 0 28px;
	padding:0 0 8px 2px;
	color:#828282;
	font-family:Georgia, serif;
	font-size:1.9em;
	line-height:1.5em;
}

/*
****************************************************************
*****************************************************************
*/
/* navigation */


ul {
	list-style: none;
}

li {
	display:inline;
	font-weight:normal;
	text-align:center;
	margin:0;
	font-size:1.0em;
	padding:0;
}

#nav ul {
	margin-top:140px;
	margin-left:40px;
	padding:0;
}

#nav li {
	margin:0;
	padding:0;
	float:left;
	display:inline;
}

#nav li a {
	display:block;
	padding:0;
	margin:0;
	border:0;
}


/*
****************************************************************
*****************************************************************
*/
/* gallery */

#mid_gallery {
	padding-top:10px;
}
#mid_gallery p {
	padding:0 20px 0 25px;
}

#mid_gallery a {
	border:none;
}

.thumbnails {
    padding:2px;
    border:0px;
    border:1px solid #999;
    margin:1px;
	margin-right:0;
}

.thumbnails:hover {
	padding:2px;
	border:0px;
	border:1px solid #999;
	margin:1px;
	background:#DDD;
	margin-right:0;
	
}

/*
****************************************************************
*****************************************************************
*/
/* stub and alert boxes */

.alert {
	background: #999 url(/images/50.png) center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	margin:22px 22px 15px 28px;
	padding: 5px 5px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}

.stub {
	margin:25px 22px 15px 28px;
	font-size:1.1em;
	padding:10px;
	line-height:1.8em;	
	background-color:#222;
	color:#fff;
	-moz-border-radius: 10px;  
	-webkit-border-radius: 10px;  
	border-radius: 10px;
}



/*
****************************************************************
*****************************************************************
*/
/* tables */

table.large {
	margin:0 22px 0 28px;
	width:440px;
}
table.small {
	margin:0 22px 0 18px;
	width:310px;
}
th {
	color:#fff;
	padding:5px 3px;
	font-size:1.3em;
	text-align:left;
}

thead tr {
	background-color:#222;
}
td {
	color:#ccc;
	font-size:1.1em;
	border-bottom:1px solid #555;	
}

td a {
	color:#ccc;
	display:block;
	border:0;
	padding:3px;
}

td a:hover {
	color:#fff;
}

tr.odd {
	background-color:#181818;
}
tr.even {
	background-color:#161616;
}

tr:hover {
	background-color:#444;
}

/*
****************************************************************
*****************************************************************
*/
/* comments */

#comments dl {
	margin:15px 40px 0 20px;
	clear:both;
	padding:2px;
	background:none;
}

#comments dl.odd {
	background-color:#222;
}

#comments dt {
	margin:0;
	color:#444;
	font-size:2.6em;
	float:left;
}

#comments dd {
	margin:0;
	padding:3px 0px 4px 25px;
	color:#ccc;
	font-size:1.1em;
}

#comments dd b {
	color:#fff;
	font-size:0.9em;
}

#comments p.info {
	margin:0 40px 10px 20px;
	font-size:0.8em;
	background-color:#191919;
	padding:3px;
}


/* CSS Sprites Nav */

#iconmenu {position: relative; margin: 0 auto; padding: 0; width: 377px; height: 92px;}
#iconmenu li {height: 46px; position: absolute; top: 0; background: url(/images/nav.png) 0 0 no-repeat; display: block; list-style: none;}

#iconmenu a {height: 46px; display: block; border: 0;}
#iconmenu a:hover {border: 0;}
#iconmenu #home {width:84px; left: 0px;}
#iconmenu #about {width:88px; left: 84px; background-position: -85px 0;}
#iconmenu #portfolio {width:113px; left: 172px; background-position: -172px 0;}
#iconmenu #gallery {width:96px; left: 281px; background-position: -281px 0;}

#iconmenu #home a:hover {width:84px; background: url(/images/nav.png) 0px -46px no-repeat;}
#iconmenu #about a:hover {width:90px; background: url(/images/nav.png) -85px -46px no-repeat;}
#iconmenu #portfolio a:hover {width:113px; background: url(/images/nav.png) -172px -46px no-repeat;}
#iconmenu #gallery a:hover {width:96px; background: url(/images/nav.png) -281px -46px no-repeat;}



/*
Sliding Login Panel with jQuery
big respect to tha great mastah: Jeremie Tisseau
*/ 

/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  	background: url(/images/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
	right: 150px;
  	color: white;
  	xfont-size: 80%;
	text-align: center;
}

.tab ul.login li.left {
  	xbackground: url(/images/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li.right {
  	xbackground: url(/images/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
	color:#bbb;
	padding-top:3px;
  	background: url(/images/tab_m.png) repeat-x 0 0;
}


.tab ul.login li a:hover {
	color: white;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	xpadding-left: 30px !important;
	cursor: pointer;
	xdisplay: block;
	xwidth: 100px;
	position: relative;
	xtop: 11px;
}


/* sliding panel */
#toppanel {
    position: relative;   		/*Panel will "push" the content down */
    /*position: absolute;*/		/*Panel will overlap  content */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	xpadding-left:15px;
	height: 230px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel h1 {
	font-size: 2em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}


#panel h5{
	font-size: 1.3em;
	padding: 10px 0 0 0;
	margin: 0;
	color: #fff;
}


#panel h5 a {
	color:#fff;
	border:none;
}

#panel p {
	margin: 5px 0;
	padding: 0;
	line-height:1.6em;
}


#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 945px;
	margin: 0 auto;
	padding: 15px 0 0 15px;
	text-align: left;
	font-size: 1em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	background: #000;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content input:focus.field {
	background: #545454;
}


input:focus {
	background: #545454;
}



/*
****************************************************************
*****************************************************************
*/
/* portfolio styles */



dl.table-display
{
	clear:both;
	color:#fff;
	font-size:1.2em;
	xdisplay:block;
	margin:5px 22px 0 28px;

}

.table-display dt
{
width: 150px;
float: left;
border-top: 1px solid #333;
font-weight: bold;
padding:5px;
width:150px;
margin-bottom:3px;

}

/* commented backslash hack for mac-ie5 \*/
dt { clear: both; }
/* end hack */

.table-display dd
{
float: left;
margin-bottom:3px;
border-top: 1px solid #333;
padding:5px;
width:560px;
}

#projects { clear:both; margin-top:20px;}

p.websites {
	border-bottom:1px solid #444;
}

p.websites:hover {
	background-color:#444;
	border-bottom:1px solid #696969;
}

img.stub {
	float:left;
	margin:3px 15px 5px 5px;
	padding:0;
	border:0;
}

.clear_it {
	clear:both;
}

/* 
	 ordered list
	--------------
*/

ol.steps {
	margin: 0 20px 0 28px;
}
ol.steps li {
	display:block;
	list-style: none;
	margin: 10px 0;
	padding: 10px 20px;
	border: 1px solid #000;
}

.odd {
	background:#222;
}

.even {
	background:#181818;
}

ol.steps a {
	padding:0;
}

* html ol.steps li a {  /* prolly need this for IE */
	padding:0;
}

ol.steps li:hover {
	background:#090909;
}

#projectlist li h2 {
	background:none;
	font-size: 1.4em;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #666;
	color: #A89987;
}
#projectlist li p {
	color: #ccc;
	font-size: 1.2em;
	margin: 0;
	padding:0;
	font-weight: normal;
	line-height: 1.6em;
}


/* portfolio 
*/

