<!-- Panel -->
<div id="toppanel">
		<div id="panel">
			<div class="content clearfix">
				<div class="left">
					<h1>Welcome!</h1>
					<h5>The personal website(s) of Indro De</h5>		
					<p class="grey">Hi! You have reached one of my websites.</p>

					<h5>Contact Me</h5>
					<p class="grey">Until I have set up a contact form, the best way to reach me is by old-fashioned e-mail to:</p>
					<p class="grey"><b>indro dot de at gmail dot com</b></p>
					
				</div>
				<div class="left">
					<h1>Other Network Pages</h1>
					<h5><var>(zen punch)</var></h5>		
					<p class="grey">This is my tumblelog and repository of random thoughts, links, and opinions. New bits and pieces are added regularly. You are currently viewing this site.</p>

					<h5><a href="http://lucidheavens.com/">Lucid Heavens</a></h5>
					<p class="grey">Ever since I bought a digital SLR camera, I've gotten more
					and more interested in photography. On Lucid Heavens,
					you can view some of the results.</p>
				</div>
				<div class="left right">
					<h1>Coming Soon!</h1>	
					<h5>MeatSpace</h5>		
					<p class="grey">MeatSpace was my first real blog and had to go through
					a lot in the recent years. This will be another attempt to
					get something running.</p>

					<h5>Core</h5>
					<p class="grey">Core is a customized content management
					system developed with Ruby on Rails. I use Core to publish
					to the <var>(zen punch)</var> tumblelog and portfolio.</p>
				</div>
			</div>

		</div>	

		<div class="tab">
			<ul class="login">
		    	<li class="left">&nbsp;</li>
		        <li>Welcome to <var>(zen punch)</var>, a website by Indro De</li>
				<li class="sep">|</li>
				<li id="toggle">
					<a id="open" class="open" href="#">Contact Me | Help</a>
					<a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
				</li>
		    	<li class="right">&nbsp;</li>
			</ul> 
		</div>

</div> <!--panel -->