<% content_for :nav do %>
	<div id="nav">
	 	<ul id="iconmenu">
			<li id="home"><a href="/">&nbsp;</a></li>
			<li id="about"><a href="/about">&nbsp;</a></li>
			<li id="portfolio"><a href="/portfolio">&nbsp;</a></li>
			<li id="gallery">&nbsp;</li>
		</ul>
	</div>
<% end %>

<div class="stub">
	<img src="/images/ico_world.png" width="55" class="stub" alt="Gallery" /><span style="font-size:1.3em; color:#fff;">My personal photo gallery...</span><br />A pretty random collection of places, people, animals, and other objects captured on camera. This section is currently under construction, so check out <a href="http://lucidheavens.com/">Lucid Heavens</a> in the meantime.
</div>


<div id="maincontent">
<%= @content.body %>
</div>