<% content_for :nav do %>
	<div id="nav">
	 	<ul id="iconmenu">
			<li id="home"><a href="/">&nbsp;</a></li>
			<li id="about">&nbsp;</li>
			<li id="gallery"><a href="/gallery">&nbsp;</a></li>
		</ul>
	</div>
<% end %>

<div class="stub">
	<img src="/images/ico_monitor.png" width="55" class="stub" alt="About" /><span style="font-size:1.3em; color:#fff;">About this website...</span><br />Basically, this website is the tumblelog and primary personal website of Indro De. There's also a <a href="/portfolio">portfolio</a> section featuring some of my work and a <a href="/gallery">photo gallery</a> for you to check out. Read some more detailed explanations below.
</div>

<div id="maincontent">
<%= @content.body %>
</div>